node_modules/
articles/*.pdf
articles/*-pdf/

# Graphvizとか使うと生成されるやつ
articles/images/html/
articles/images/latex/

# 他の環境で作ったlockがあるとCIがコケる
Gemfile.lock

.DS_Store
Thumbs.db

articles/*.html
scripts/*.js
